@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: gilroy;
  src: url(./fonts/Gilroy-Regular.ttf);
}

* {
  font-family: gilroy;
}


::selection{
  color: rgb(232, 145, 47);
}